<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>InvoScrape</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <title>Table with Search Function</title>

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
  <link href="assets/css/style1.css" rel="stylesheet">
</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center">
  <div class="container d-flex align-items-center justify-content-between">
    <div class="logo">
      <h1><a href="index.html">InvoScrape</a></h1>
    </div>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
        <li><a class="nav-link scrollto" href="#about">Upload</a></li>
        <li><a class="nav-link scrollto" href="#filesData">Files Data</a></li>
        <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        {% if user_data %}
          <li><a class="getstarted scrollto" href="#">{{ user_data[2] }}</a></li>
        {% endif %}
        <li>
          <form action="signout.php" method="POST">
            <button class="nav-link" type="submit" name="logout">Logout</button>
          </form>
        </li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->
  </div>
</header><!-- End Header -->



  
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">Welcome {{ user_data[0] }}!<br>How's going in {{ user_data[1] }}?</h1><br>
		  
          <h2 data-aos="fade-up" data-aos-delay="400">Have a pleasant and enjoyable use of the system.</h2>
          <div data-aos="fade-up" data-aos-delay="800">
            <a href="#about" class="btn-get-started scrollto">Get Started</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="800">
          <img src="assets/img/Pic.jpg" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <!-- ======= Hero Section ======= -->
 <section style="margin-top: 0px; padding: 0px;" id="hero" class="d-flex align-items-center">

  <div class="container">
    <div class="row">
      <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
        <div data-aos="fade-up" data-aos-delay="800"></div>
      </div>
      <div class="col-lg-12 order-1 order-lg-2 hero-img" data-aos="fade-left" data-aos-delay="200">
        <img src="assets/img/onePageProcess.JPG" class="img-fluid animated rounded mx-auto d-block" alt="">
      </div>
    </div>
  </div>

</section><!-- End Hero -->

  <main id="main">
 

<!-- ======= Uploading File Section ======= -->
<section id="about" class="about">
  <div class="container">
    <div class="section-title" data-aos="fade-up">
      <h2>Uploading File</h2>
    </div>
    <div class="col-md-6 offset-md-3 mt-2">
      <form accept-charset="UTF-8" action="upload.php" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="{{ user_data[2] }}" readonly>
        </div>

        <div class="form-group mt-3">
          <label class="mr-2">Upload your file:</label>
          <input type="file" name="file" accept=".pdf,.png,.jpeg" maxlength="10485760" required>
          <br>
          <p><strong>We support png, jpeg, pdf formats. (Max 10MB)</strong></p>
        </div>

        <!-- Checkbox for sending email -->
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="sendEmailCheckbox" name="sendEmail">
          <label class="form-check-label" for="sendEmailCheckbox">Send me an email with the extracted data as an Excel file.</label>
        </div><br>

        <button type="submit" class="btn btn-primary">Upload file</button><br><br>
		
		<!-- Error message -->
		<div id="errorMessage" class="text-danger">
			{% if error_message %}
				{{ error_message }}
			{% endif %}
		</div>
		
		<!-- Success message -->
		<div id="successMessage" class="text-success">
		  {% if success_message %}
				{{ success_message }}
		  {% endif %}
		</div>
      </form>
    </div>
  </div>
</section><!-- Uploading File Section -->


<!-- Table Section -->
<section>
    <div id="filesData" class="section-title" data-aos="fade-up">
        <h2>Files data</h2><br>
        <div class="filters">
            <input type="text" id="fileNameInput" placeholder="File Name">
            <input type="date" id="startDateInput" placeholder="Start Date">
            <input type="date" id="endDateInput" placeholder="End Date">
		    <input type="number" id="minAmountInput" placeholder="Min Amount" min="0">
		    <input type="number" id="maxAmountInput" placeholder="Max Amount" min="0">
            <button onclick="searchFiles()">Show</button>
        </div>
    </div>

    <div class="scroll-up-line">
        <input type="text" id="searchInput" placeholder="Search..." onkeyup="searchTable()" />
        <div class="table-container">
            <table id="myTable">
                <label for="rowSelect">Rows per Page:</label>
                <select id="rowSelect" onchange="changeRowsPerPage()">
                    <option value="5">5</option>
                    <option value="10" selected>10</option>
                    <option value="15">15</option>
                </select>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>File_Name</th>
                        <th>Currency</th>
                        <th>Date</th>
                        <th>Merchant_Address</th>
                        <th>Merchant_Name</th>
                        <th>Merchant_Phone</th>
                        <th>Receipt_Number</th>
                        <th>Subtax</th>
                        <th>Tax_Amount</th>
                        <th>Total_Amount</th>
                        <th>Created at</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- ======= end Table ======= -->
	
	
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Contact Us</h2>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="contact-about">
              <h3>Have more questions?</h3>
              <p>Our team is always around to help </p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
            <div class="info">
              <div>
                <i class="ri-map-pin-line"></i>
                <p>22 Rothschild Street<br>Tel-Aviv, Israel</p>
              </div>

              <div>
                <i class="ri-mail-send-line"></i>
                <p>invoscrape9@gmail.com</p>
              </div>

              <div>
                <i class="ri-phone-line"></i>
                <p>+972 1700 123-456</p>
              </div>

            </div>
          </div>

		<div class="col-lg-5 col-md-12" data-aos="fade-up" data-aos-delay="300">
		  <form id="contact-form" method="post" role="form" class="php-email-form">
			<div class="form-group">
			  <input type="text" name="name" class="form-control" id="name" value={{ user_data[0] }} readonly required>
			</div>
			<div class="form-group">
			  <input type="email" class="form-control" name="email" id="email" value={{ user_data[2] }} readonly required>
			</div>
			<div class="form-group">
			  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
			</div>
			<div class="form-group">
			  <textarea class="form-control" name="message" id="message" rows="5" placeholder="Message" required></textarea>
			</div>
			<div class="my-3">
			  <div class="loading" id="loading-message">Loading..</div>
			  <div class="error-message" id="error-message"></div>
			  <div class="sent-message" id="success-message"></div>
			</div>
			<div class="text-center">
			  <button type="submit">Send Message</button>
			</div>
		  </form>
		</div>

        </div>

      </div>
    </section><!-- End Contact Section -->
	

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-lg-6 text-lg-left text-center">
          <div class="copyright">
            &copy; Copyright <strong>InvoScrape</strong>. All Rights Reserved
          </div>
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/js/main.js"></script>
  <script src="assets/js/Table.js"></script>
  <script src="assets/js/contact.js"></script>

</body>

</html>